.KanbanBoard {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0px 20px 50px 0;

}

.KanbanBoard .add-column-button {
  background-color: lightgreen;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.KanbanBoard .add-column-button:hover {
  background-color: rgb(63, 177, 91);
}